* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff0f5 ;
  font-family: "Titan One", sans-serif;
  color: #5c4a54;
 
  
}

#root{
  min-height: 100vh;
  display: flex;
}